@import url(http://fonts.googleapis.com/css?family=Open+Sans:900,700,600,400,300);
/******************************************************************
	COLORS
******************************************************************/
/* ====================================
		GREYSCALE
	==================================== */
/* ====================================
		PROJECT
	==================================== */
/* ====================================
		SPECIALS
	==================================== */
/******************************************************************
	FONTS
******************************************************************/
/* ====================================
		INITIALIZE
	==================================== */
/******************************************************************
	BREAKPOINTS
******************************************************************/
/******************************************************************

    SETTINGS: SET_MIXINS
        > BREAKPOINTS
        > CLEARFIX

******************************************************************/
/******************************************************************

    BREAKPOINTS

        --> @include medium {...}

******************************************************************/
/******************************************************************

    CLEARFIX

        --> @include clearfix;

******************************************************************/
section {
  width: 90%;
  max-width: 1280px;
  margin: 200px auto;
}

body {
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

.wpgr-m_card {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  border: 1px solid #f5f5f5;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  cursor: default;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card {
    max-width: 960px;
    margin-bottom: 70px;
  }
}

.wpgr-m_card__price-wrapper {
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -30%);
  background: #fac8bf;
  padding: 6px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__price-wrapper {
    padding: 8px 20px;
  }
}

.wpgr-m_card__price {
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__price {
    font-size: 26px;
  }
}

.wpgr-m_card__price-text {
  margin: 0;
  margin-top: -6px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__price-text {
    margin-top: -6px;
    font-size: 12px;
  }
}

.wpgr-m_card__main {
  padding: 0rem 2rem 2rem 2rem;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__main {
    display: flex;
    padding: 2rem 6rem 2rem 2rem;
  }
}

.wpgr-m_card__figure-wrapper {
  width: 100%;
  margin-top: -50px;
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__figure-wrapper {
    width: 160px;
    margin: 0;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}

.wpgr-m_card__figure {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("../src/img/placeholder-author-detail-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__figure {
    width: 160px;
    height: 160px;
  }
}

.wpgr-m_card__content {
  padding: 0;
}

.wpgr-m_card__heading {
  transition: color 0.2s ease-in-out;
  margin-top: 0;
  margin-bottom: 0.6em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__heading {
    font-size: 32px;
    line-height: 44px;
  }
}

.wpgr-m_card__desc {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #a0a0a0;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__desc {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 26px;
  }
}

.wpgr-m_card__btn-wrapper {
  text-align: left;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__btn-wrapper {
    text-align: right;
  }
}

.wpgr-m_card__btn:not(:first-child) {
  margin-top: 10px;
}

.wpgr-m_card__btn:not(:last-child) {
  margin-right: 10px;
}

.wpgr-m_card__footer {
  position: relative;
  padding: 1rem 2rem 3rem 2rem;
  background: #fcfcfc;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__footer {
    display: flex;
    padding: 1rem 6rem 2rem 2rem;
  }
}

.wpgr-m_card__buyer-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__buyer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 160px 0 0;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}

.wpgr-m_card__buyer {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fac8bf;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__buyer {
    width: 60px;
    height: 60px;
  }
}

.wpgr-m_card__process {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  background: rgba(250, 200, 191, 0.3);
  border-radius: 5px;
  padding: 0 2rem;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__process {
    height: 30px;
  }
}

.wpgr-m_card__process-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fac8bf;
  border-radius: 5px;
}

.wpgr-m_card__process-price {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__process-price {
    font-size: 16px;
  }
}

.wpgr-m_card__process-count {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__process-count {
    font-size: 16px;
  }
}

.wpgr-m_card__toggle {
  transition: background-color 0.2s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #addedc;
  cursor: pointer;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card__toggle {
    width: 60px;
    height: 60px;
  }
}

.wpgr-m_card__toggle:hover {
  background: #8abdbb;
}

.wpgr-m_card--single .wpgr-m_card__main {
  padding: 0rem 2rem 3rem 2rem;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card--single .wpgr-m_card__main {
    display: flex;
    padding: 3rem 8rem 3rem 3rem;
  }
}

.wpgr-m_card--single.is-collapsed .wpgr-m_card__main {
  padding: 0rem 2rem 3rem 2rem;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_card--single.is-collapsed .wpgr-m_card__main {
    display: flex;
    padding: 3rem 8rem 4rem 3rem;
  }
}

.wpgr-m_card--single.is-collapsed .wpgr-m_card__desc {
  margin-bottom: 0;
}

.wpgr-m_card--bought {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.6;
}

.wpgr-m_card--bought:hover {
  opacity: 1;
}

.wpgr-m_card--bought .wpgr-m_card__price-wrapper {
  transition: opacity 0.2s ease-in-out;
  background: #a0a0a0;
}

.wpgr-m_card--bought .wpgr-m_card__figure {
  opacity: 1;
  filter: grayscale(100%);
}

.wpgr-m_card--bought .wpgr-m_card__heading {
  color: #a0a0a0;
}

.wpgr-m_card--bought .wpgr-m_card__desc {
  color: #a0a0a0;
}

.wpgr-m_card--bought .wpgr-m_card__toggle {
  background: #a0a0a0;
}

.wpgr-m_card.is-collapsed {
  cursor: pointer;
}

.wpgr-m_card.is-collapsed:not(.wpgr-m_card--bought):hover .wpgr-m_card__price-wrapper {
  background: #ffa393;
}

.wpgr-m_card.is-collapsed:not(.wpgr-m_card--bought):hover .wpgr-m_card__toggle {
  background: #8abdbb;
}

.wpgr-m_card.is-collapsed .wpgr-m_card__btn-wrapper {
  display: none;
}

.wpgr-m_card.is-collapsed .wpgr-m_card__footer {
  display: none;
}

.wpgr-m_btn,
a.wpgr-m_btn {
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  transition: 0.1s ease-in-out;
  background-color: #addedc;
  border-bottom: 2px solid #8abdbb;
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_btn,
  a.wpgr-m_btn {
    padding: 10px 16px;
    ffont-size: 14px;
  }
}

.wpgr-m_btn:hover,
a.wpgr-m_btn:hover {
  outline: 0;
  background-color: #8abdbb;
  color: #ffffff;
}

.wpgr-m_btn-close {
  transition: background-color 0.2s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #addedc;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 50%;
}

@media only screen and (min-width: 961px) {
  .wpgr-m_btn-close {
    width: 60px;
    height: 60px;
  }
}

.wpgr-m_btn-close:hover {
  background-color: #8abdbb;
}

.wpgr-o_popup {
  display: none;
  overflow-y: scroll;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.wpgr-o_popup.is-active {
  display: block;
}

.wpgr-o_popup.is-active .wpgr-o_popup__step--1 .wpgr-o_popup__list-item:first-child {
  background: #addedc;
  cursor: default;
}

.wpgr-o_popup.is-active .wpgr-o_popup__step--2 .wpgr-o_popup__list-item:nth-child(2) {
  background: #addedc;
  cursor: default;
}

.wpgr-o_popup__step {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  display: none;
  position: relative;
  background: #ffffff;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 45vh;
  padding: 3rem 1.5rem 4rem 1.5rem;
  border: 1px solid #f5f5f5;
  transform: translateY(-50%);
  border-radius: 5px;
}

.wpgr-o_popup__step.is-active {
  display: block;
}

.wpgr-o_popup__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.wpgr-o_popup__process {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.wpgr-o_popup__list-item {
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  background: #e6e6e6;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.wpgr-o_popup__list-item:not(:first-child) {
  margin-left: 10px;
}

.wpgr-o_popup__list-item:hover {
  background: #fac8bf;
}

.wpgr-o_popup__question {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 22px;
  line-height: 28px;
}

.wpgr-o_popup__desc {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 22px;
  color: #a0a0a0;
}

.wpgr-o_popup__buyer {
  margin-bottom: 2rem;
}

.wpgr-o_popup__btn-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.5rem;
}

.wpgr-o_popup__form .wpgr-o_popup__input-wrapper {
  margin-bottom: 1rem;
}

.wpgr-o_popup__form .wpgr-m_btn__buyer-content {
  display: none;
  margin-bottom: 1rem;
}

.wpgr-o_popup__form .wpgr-m_btn__buyer-content.is-active {
  display: block;
}

.wpgr-o_popup__form input[type="text"],
.wpgr-o_popup__form textarea {
  width: 100%;
  background-color: #fcfcfc;
  border: none;
  border-bottom: 2px solid #addedc;
  padding: 1.4em 1em 0.6em;
}

.wpgr-o_popup__form input[type="text"]:focus,
.wpgr-o_popup__form textarea:focus {
  outline: 0;
  border-bottom: 2px solid #fac8bf;
}

.wpgr-o_popup__form input[type="text"] + label {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 5;
  user-select: none;
  transition: font-size 0.1s ease-out;
}

.wpgr-o_popup__form input[type="text"] + label.active, .wpgr-o_popup__form input[type="text"] + label.done {
  left: 1.2em;
  top: 0.3em;
  font-size: 0.8rem;
  font-weight: 700;
}

.wpgr-o_popup__form input[type="text"] + label.done {
  color: #addedc;
}

.wpgr-o_popup__form input[type="text"] + label.active {
  color: #fac8bf;
}

.wpgr-o_popup__form .wpgr-o_popup__radio-wrapper {
  display: inline-block;
}

.wpgr-o_popup__form .wpgr-o_popup__radio-wrapper:not(:last-child) {
  margin-right: 10px;
}

.wpgr-o_popup__form input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
  width: auto;
  float: left;
  background: transparent;
  border: none;
}

.wpgr-o_popup__form input[type='radio']:checked,
.wpgr-o_popup__form input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  margin-bottom: -30px;
  cursor: pointer;
  z-index: 1;
}

.wpgr-o_popup__form input[type='radio'] + label {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: rem(14px);
  color: #f5f5f5;
}

.wpgr-o_popup__form input[type='radio']:checked + label {
  color: #addedc;
}

.wpgr-o_popup__form input[type='radio']:checked + label::before,
.wpgr-o_popup__form input[type='radio']:not(:checked) + label::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
  border: 2px solid #f5f5f5;
  background: #ffffff;
  margin-right: rem(16px);
}

.wpgr-o_popup__form input[type=radio]:checked + label::before,
.wpgr-o_popup__form input[type=radio]:not(:checked) + label::before {
  border-radius: 30px;
}

.wpgr-o_popup__form input[type='radio']:hover + label {
  color: #addedc;
}

.wpgr-o_popup__form input[type='radio']:checked + label::before {
  background: #addedc;
  box-shadow: inset 0 0 0 4px #ffffff;
}

/*# sourceMappingURL=maps/style.css.map */
