@import url("https://fonts.googleapis.com/css?family=Open+Sans:900,700,600,400,300|Roboto:700,500,400");
/******************************************************************
	COLORS
******************************************************************/
/* ====================================
		GREYSCALE
	==================================== */
/* ====================================
		PROJECT
	==================================== */
/* ====================================
		SPECIALS
	==================================== */
/******************************************************************
	FONTS
******************************************************************/
/* ====================================
		INITIALIZE
	==================================== */
/******************************************************************
	BREAKPOINTS
******************************************************************/
/******************************************************************

    SETTINGS: SET_MIXINS
        > BREAKPOINTS
        > CLEARFIX

******************************************************************/
/******************************************************************

    BREAKPOINTS

        --> @include medium {...}

******************************************************************/
/******************************************************************

    CLEARFIX

        --> @include clearfix;

******************************************************************/
section.wpgr-wishlist .wpgr-m_btn,
section.wpgr-wishlist a.wpgr-m_btn {
  transition: background-color 0.2s ease-in-out !important;
  display: inline-block !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 16px !important;
  transition: 0.1s ease-in-out !important;
  background-color: #73cbc7 !important;
  border-bottom: 2px solid #52aaa6 !important;
  font-size: 12px !important;
  color: #ffffff !important;
  text-align: left;
  box-shadow: none !important;
  text-decoration: none !important;
}

section.wpgr-wishlist .wpgr-m_btn:visited, section.wpgr-wishlist .wpgr-m_btn:active, section.wpgr-wishlist .wpgr-m_btn:link,
section.wpgr-wishlist a.wpgr-m_btn:visited,
section.wpgr-wishlist a.wpgr-m_btn:active,
section.wpgr-wishlist a.wpgr-m_btn:link {
  color: #ffffff !important;
}

section.wpgr-wishlist .wpgr-m_btn:hover,
section.wpgr-wishlist a.wpgr-m_btn:hover {
  outline: 0 !important;
  background-color: #52aaa6 !important;
  color: #ffffff !important;
}

section.wpgr-wishlist .wpgr-m_btn:focus,
section.wpgr-wishlist a.wpgr-m_btn:focus {
  outline: 0 !important;
}

section.wpgr-wishlist .wpgr-m_btn-close {
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1) !important;
  background-color: #73cbc7 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 50% !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_btn-close {
    width: 46px !important;
    height: 46px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_btn-close {
    width: 50px !important;
    height: 50px !important;
  }
}

section.wpgr-wishlist .wpgr-m_btn-close:hover {
  background-color: #52aaa6 !important;
}

section.wpgr-wishlist .wpgr-m_btn-close:focus {
  outline: 0 !important;
}

section.wpgr-wishlist .wpgr-m_btn-close-icon {
  display: block !important;
  background-image: url("../src/img/ic_close_48px-white.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 26px !important;
  height: 26px !important;
  margin: 0 auto !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_btn-close-icon {
    width: 30px !important;
    height: 30px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_btn-close-icon {
    width: 32px !important;
    height: 32px !important;
  }
}

section.wpgr-wishlist {
  margin: 0 auto;
}

section.wpgr-wishlist .wpgr-m_card {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1) !important;
  position: relative !important;
  background-color: #ffffff !important;
  max-width: 500px !important;
  margin: 0 auto !important;
  margin-bottom: 40px !important;
  padding: 30px 30px 30px 60px !important;
  border: 1px solid #f5f5f5 !important;
  border-radius: 5px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card {
    margin-bottom: 45px !important;
    padding: 30px 30px 20px 100px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card {
    max-width: 760px !important;
    margin-bottom: 55px !important;
    padding: 40px 70px 45px 110px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card--content {
  cursor: pointer;
  padding: 30px 30px 30px 60px !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card--content {
    padding: 30px 30px 34px 100px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card--content {
    padding: 40px 70px 40px 110px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card--content.is-open {
  cursor: default !important;
}

section.wpgr-wishlist .wpgr-m_card--nocontent {
  padding: 30px 30px 20px 60px !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card--nocontent {
    padding: 30px 30px 20px 100px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card--nocontent {
    padding: 40px 70px 45px 110px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card--nocontent .wpgr-m_card__heading {
  margin-bottom: 1.2em !important;
}

section.wpgr-wishlist .wpgr-m_card--nocontent .wpgr-m_card__content {
  display: block;
  opacity: 1 !important;
}

section.wpgr-wishlist .wpgr-m_card__figure {
  display: inline-block;
  width: 80px !important;
  height: 80px !important;
  background-color: #fcfcfc !important;
  background-image: url("../src/img/logo-gift-registry.svg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  border: 0 !important;
  border-radius: 50% !important;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

section.wpgr-wishlist .wpgr-m_card__figure-anchor {
  position: static !important;
}

section.wpgr-wishlist .wpgr-m_card__figure-wrapper {
  position: absolute !important;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%) !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card__figure-wrapper {
    top: 50%;
    left: 0;
    transform: translate(-30%, -50%) !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__figure-wrapper {
    left: 0;
    transform: translate(-50%, -50%) !important;
  }
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card__figure {
    width: 110px !important;
    height: 110px !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__figure {
    width: 160px !important;
    height: 160px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__heading {
  transition: color 0.2s ease-in-out !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 17px !important;
  letter-spacing: normal !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  text-align: left !important;
  color: #4a4a4a !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card__heading {
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__heading {
    margin-bottom: 14px !important;
    font-size: 26px !important;
    line-height: 32px !important;
    font-weight: 500 !important;
    text-align: left !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__price-wrapper {
  transition: background-color 0.2s ease-in-out !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  height: 36px !important;
  top: 0 !important;
  right: 0 !important;
  transform: translate(20%, -30%) !important;
  background: #ffa393 !important;
  padding: 6px 14px !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__price-wrapper {
    padding: 8px 16px !important;
    height: 44px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__price {
  margin: 0 !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  line-height: 1 !important;
  color: #ffffff !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__price {
    font-size: 18px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__price-text {
  color: #ffffff !important;
  font-size: 10px !important;
  line-height: 1 !important;
  margin: 0 !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__price-text {
    font-size: 12px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__price-icon {
  display: none;
}

section.wpgr-wishlist .wpgr-m_card__progress {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  width: 80px;
  height: 6px;
  background: #DCE0E3;
  border-radius: 3px;
  vertical-align: 1px;
  overflow: hidden;
}

section.wpgr-wishlist .wpgr-m_card__progress-wrapper {
  font-size: 12px;
  color: dimgrey;
  display: block;
  margin-top: -8px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card__progress-wrapper {
    float: left;
    margin-top: 16px;
    margin-bottom: 0;
    margin-right: 16px;
  }
}

section.wpgr-wishlist .wpgr-m_card__progress-wrapper > span {
  font-weight: bold;
  color: #52aaa6;
}

section.wpgr-wishlist .wpgr-m_card__progress-wrapper + .wpgr-m_card__content {
  margin-top: 10px;
}

section.wpgr-wishlist .wpgr-m_card__progress > span {
  display: block;
  height: 100%;
  background-color: #73cbc7;
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

section.wpgr-wishlist .wpgr-m_card__content {
  transition: opacity 0.3s ease-in-out !important;
  display: none;
  opacity: 0 !important;
  padding: 0 !important;
}

section.wpgr-wishlist .wpgr-m_card__content.is-active {
  opacity: 1 !important;
}

section.wpgr-wishlist .wpgr-m_card__desc {
  margin-bottom: 14px !important;
  margin-bottom: 18px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  letter-spacing: normal !important;
  line-height: 22px !important;
  color: #a0a0a0 !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__desc {
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__btn-wrapper {
  text-align: left !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-m_card__btn-wrapper {
    text-align: right !important;
  }
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__btn-wrapper {
    margin-bottom: 0 !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__btn {
  position: relative;
  min-width: 80px !important;
  text-align: center !important;
  line-height: 1.6 !important;
}

section.wpgr-wishlist .wpgr-m_card__btn:not(:first-child) {
  margin-top: 6px !important;
}

section.wpgr-wishlist .wpgr-m_card__btn:not(:last-child) {
  margin-right: 4px !important;
}

section.wpgr-wishlist .wpgr-m_card__btn-text {
  display: inline-block;
}

section.wpgr-wishlist .wpgr-m_card__btn-icon {
  display: inline-block;
  position: absolute !important;
  top: 9px !important;
  right: 10px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 18px !important;
  height: 18px !important;
  margin: 0 auto !important;
}

section.wpgr-wishlist .wpgr-m_card__btn-icon--view {
  background-image: url("../src/img/ic_visibility_48px-wgite.svg") !important;
}

section.wpgr-wishlist .wpgr-m_card__btn-icon--give {
  background-image: url("../src/img/ic_gift_48px-white.svg") !important;
  top: 5px !important;
  right: 8px !important;
  width: 24px !important;
  height: 24px !important;
}

section.wpgr-wishlist .wpgr-m_card__toggle {
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1) !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translate(-50%, 50%) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #a0a0a0;
  cursor: pointer !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__toggle {
    width: 46px !important;
    height: 46px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__toggle:hover {
  background: #73cbc7;
}

section.wpgr-wishlist .wpgr-m_card__toggle:focus {
  outline: 0 !important;
}

section.wpgr-wishlist .wpgr-m_card__toggle.is-active {
  background: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-m_card__toggle.is-active:hover {
  background: #73cbc7 !important;
}

section.wpgr-wishlist .wpgr-m_card__toggle.is-active .wpgr-m_card__toggle-icon {
  transform: rotate(180deg) !important;
  margin-top: 5px !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__toggle.is-active .wpgr-m_card__toggle-icon {
    margin-top: 8px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card__toggle-icon {
  transition: transform 0.15s ease-in-out !important;
  display: block;
  background-image: url("../src/img/ic_expand_more_48px-white.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 30px !important;
  height: 30px !important;
  margin: 0 auto !important;
  margin-top: 6px !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card__toggle-icon {
    margin-top: 9px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card--bought {
  transition: opacity 0.2s ease-in-out !important;
  opacity: 0.6 !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__progress-wrapper {
  margin-top: -16px;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__progress-wrapper {
    margin-top: 0;
  }
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__price-wrapper {
  transition: opacity 0.2s ease-in-out !important;
  background-color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__price {
  display: none;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__price-icon {
  display: block;
  background-image: url("../src/img/ic_lock_48px-grey.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 20px !important;
  height: 20px !important;
  margin: 0 auto !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__price-icon {
    width: 24px !important;
    height: 24px !important;
  }
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__figure {
  opacity: 1 !important;
  filter: grayscale(100%) !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__heading {
  color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__desc {
  color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__btn {
  display: none !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__toggle {
  background-color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-m_card--bought .wpgr-m_card__toggle:hover {
  background-color: #5e5e5e !important;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  background: #DCE0E3;
  position: relative;
}

.rangeslider--horizontal {
  height: 8px;
  width: 100%;
  align-self: center;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -6px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--horizontal .rangeslider__handle__value {
  transition: background-color .2s, box-shadow .1s, transform .1s;
  box-sizing: border-box;
  min-width: 36px;
  height: 24px;
  padding: 1px 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #73cbc7;
  border-radius: 50px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
  position: absolute;
  white-space: nowrap;
  border-bottom: 1px solid #4ebdb8;
  /* &:after {
          content: " cm";
        } */
}

.rangeslider--horizontal .rangeslider__handle__value:before {
  transition: border-top-color .2s;
  position: absolute;
  bottom: 22px;
  left: calc(50% - 10px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid #73cbc7;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #73cbc7;
  position: absolute;
}

.rangeslider__handle {
  background: white;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #52aaa6;
  border-radius: 50%;
  box-shadow: 0px -1px 2px 1px rgba(255, 255, 255, 0.6);
}

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 50%;
}

.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider__handle {
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.rangeslider__min {
  height: 8px;
  align-self: center;
  background: #52aaa6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rangeslider__min + .rangeslider,
.rangeslider__min + .rangeslider .rangeslider__fill {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

section.wpgr-wishlist .wpgr-o_popup {
  display: none !important;
  overflow-y: scroll !important;
  position: fixed !important;
  z-index: 10 !important;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0, 0, 0, 0.9) !important;
  width: 100% !important;
  height: 100% !important;
  padding-top: 100px !important;
  font-family: "Roboto", sans-serif !important;
}

section.wpgr-wishlist .wpgr-o_popup--single .wpgr-o_popup__step {
  padding: 1.5rem 1.5rem 5rem 1.5rem !important;
}

section.wpgr-wishlist .wpgr-o_popup.is-active {
  display: block !important;
}

section.wpgr-wishlist .wpgr-o_popup.is-active .wpgr-o_popup__step--1 .wpgr-o_popup__list-item:first-child {
  background: #73cbc7 !important;
  cursor: default !important;
}

section.wpgr-wishlist .wpgr-o_popup.is-active .wpgr-o_popup__step--2 .wpgr-o_popup__list-item:nth-child(2) {
  background: #73cbc7 !important;
  cursor: default !important;
}

section.wpgr-wishlist .wpgr-o_popup__step {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1) !important;
  display: none !important;
  position: relative !important;
  background: #ffffff !important;
  width: 90% !important;
  max-width: 400px !important;
  margin: 0 auto !important;
  margin-top: 40vh !important;
  padding: 3rem 1.5rem 5rem 1.5rem !important;
  border: 1px solid #f5f5f5 !important;
  transform: translateY(-50%) !important;
  border-radius: 5px !important;
}

section.wpgr-wishlist .wpgr-o_popup__step.is-active {
  display: block !important;
}

section.wpgr-wishlist .wpgr-o_popup__btn-close {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  transform: translate(30%, -40%) !important;
}

@media only screen and (min-width: 481px) {
  section.wpgr-wishlist .wpgr-o_popup__btn-close {
    transform: translate(40%, -40%) !important;
  }
}

section.wpgr-wishlist .wpgr-o_popup__process {
  display: inline-block !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  list-style: none !important;
  margin: 0 !important;
  margin-top: 1rem !important;
  padding: 0 !important;
}

section.wpgr-wishlist .wpgr-o_popup__list-item {
  transition: background-color 0.2s ease-in-out !important;
  display: inline-block !important;
  background: #e6e6e6 !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

section.wpgr-wishlist .wpgr-o_popup__list-item:not(:first-child) {
  margin-left: 10px !important;
}

section.wpgr-wishlist .wpgr-o_popup__list-item:hover {
  background: #ffa393 !important;
}

section.wpgr-wishlist .wpgr-o_popup__question {
  margin: 0 !important;
  margin-bottom: 0.5em !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 28px !important;
}

section.wpgr-wishlist .wpgr-o_popup__parts {
  display: none;
}

section.wpgr-wishlist .wpgr-o_popup__desc {
  margin: 0 !important;
  margin-bottom: 1rem !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 32px;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-wrapper.no-price {
  padding-bottom: 0;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-parts {
  margin-right: 20px;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 16px;
  color: #73cbc7;
  align-self: center;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-parts span {
  font-weight: bold;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-result {
  margin-left: 20px;
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  color: dimgrey;
  align-self: center;
}

section.wpgr-wishlist .wpgr-o_popup__rangeslider-val {
  font-weight: bold;
  color: #52aaa6;
}

section.wpgr-wishlist .wpgr-o_popup__buyer {
  margin-top: 2rem !important;
  margin-bottom: 1.5rem !important;
}

section.wpgr-wishlist .wpgr-o_popup__btn-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  padding: 1.5rem !important;
}

section.wpgr-wishlist .wpgr-o_popup__btn-wrapper--single {
  justify-content: flex-end !important;
}

section.wpgr-wishlist .wpgr-o_popup__form:after {
  content: "";
  display: table;
  clear: both;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-wrapper {
  position: relative !important;
  margin-bottom: 1rem !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-m_btn__buyer-content {
  display: none !important;
  position: relative !important;
  margin-bottom: 1rem !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-m_btn__buyer-content.is-active {
  display: block !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type="text"],
section.wpgr-wishlist .wpgr-o_popup__form input[type="number"],
section.wpgr-wishlist .wpgr-o_popup__form textarea {
  width: 100% !important;
  background-color: #fcfcfc !important;
  border: none !important;
  border-bottom: 2px solid #73cbc7 !important;
  padding: 1.4em 1em 0.6em !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type="text"]:focus,
section.wpgr-wishlist .wpgr-o_popup__form input[type="number"]:focus,
section.wpgr-wishlist .wpgr-o_popup__form textarea:focus {
  outline: 0 !important;
  border-bottom: 2px solid #ffa393 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-label {
  position: absolute !important;
  left: 1em !important;
  top: 1em !important;
  z-index: 5 !important;
  user-select: none !important;
  transition: font-size 0.1s ease-out !important;
  font-size: 15px !important;
  color: #a0a0a0 !important;
}

@media only screen and (min-width: 961px) {
  section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-label {
    font-size: 16px !important;
  }
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-label.is-active, section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-label.is-done {
  left: 1.2em !important;
  top: 0.3em !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__input-label.is-active {
  color: #f77d68 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__radio-wrapper {
  display: inline-block !important;
}

section.wpgr-wishlist .wpgr-o_popup__form .wpgr-o_popup__radio-wrapper:not(:last-child) {
  margin-right: 15px !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio'] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 1em !important;
  width: 100% !important;
  width: auto !important;
  float: left !important;
  background: transparent !important;
  border: none !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:checked,
section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:not(:checked) {
  background: transparent !important;
  position: relative !important;
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 30px !important;
  margin-bottom: -30px !important;
  cursor: pointer !important;
  z-index: 1 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio'] + label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #a0a0a0 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:checked + label {
  color: #73cbc7 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:checked + label::before,
section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:not(:checked) + label::before {
  content: ' ' !important;
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
  position: relative !important;
  top: 4px !important;
  border: 2px solid #a0a0a0 !important;
  background: #ffffff !important;
  margin-right: 6px !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type=radio]:checked + label::before,
section.wpgr-wishlist .wpgr-o_popup__form input[type=radio]:not(:checked) + label::before {
  border-radius: 30px !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:hover + label {
  color: #73cbc7 !important;
}

section.wpgr-wishlist .wpgr-o_popup__form input[type='radio']:checked + label::before {
  background: #73cbc7 !important;
  border: 2px solid #73cbc7 !important;
  box-shadow: inset 0 0 0 4px #ffffff !important;
}

/*# sourceMappingURL=maps/style.css.map */
