section.wpgr-wishlist {
    .wpgr-m_btn,
    a.wpgr-m_btn {
        transition: background-color 0.2s ease-in-out;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        padding: 10px 16px;
        transition: 0.1s ease-in-out;
        background-color: $c1-main;
        border-bottom: 2px solid  $c2-main;
        font-size: 12px;
        color: $c-white;
        text-align: left;
        box-shadow: none;
        text-decoration: none;

        // @include medium {
        //     padding: 10px 16px;
        //     font-size: 14px;
        // }

        &:visited,
        &:active,
        &:link {
            color: $c-white;
        }

        &:hover {
            outline: 0;
            background-color: $c2-main;
            color: $c-white;
        }

        &:focus {
            outline: 0;
        }
    }

    .wpgr-m_btn-close {
        transition: background-color 0.2s ease-in-out;
        box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
        background-color: $c1-main;
        width: 40px;
        height: 40px;
        padding: 0;
        border: 0;
        border-radius: 50%;

        @include small {
            width: 46px;
            height: 46px;
        }

        @include medium {
            width: 50px;
            height: 50px;
        }

        &:hover {
            background-color: $c2-main;
        }

        &:focus {
            outline: 0;
        }
    }

    .wpgr-m_btn-close-icon {
        display: block;
        background-image: url('../src/img/ic_close_48px-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 26px;
        height: 26px;
        margin: 0 auto;

        @include small {
            width: 30px;
            height: 30px;
        }

        @include medium {
            width: 32px;
            height: 32px;
        }
    }
}
