.wpgr-o_popup {
    display: block;
    overflow-y: scroll;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba($c-black, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 100px;

    &__step {
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
        display: none;
        position: relative;
        background: $c-white;
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 45vh;
        padding: 3rem 1.5rem 4rem 1.5rem;
        border: 1px solid $c6-grey;
        transform: translateY(-50%);
        border-radius: 5px;

        &.is-active {
            display: block;
        }
    }

    &__btn-close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -40%);
    }

    &__process {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }

    &__list-item {
        transition: background-color 0.2s ease-in-out;
        display: inline-block;
        background: $c5-grey;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            background: $c1-second;
        }

        &.is-active {
            background: $c1-main;
            cursor: default;
        }
    }

    &__question {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 22px;
        line-height: 28px;
    }

    &__desc {
        margin: 0;
        margin-bottom: 1rem;
        font-size: 14px;
        line-height: 22px;
        color: $c4-grey;
    }

    &__buyer {
        margin-bottom: 2rem;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1.5rem;
    }

    &__prev {
    }

    &__form {

        .wpgr-o_popup__input-wrapper {
            margin-bottom: 1rem;
        }

        .wpgr-m_btn__buyer-content {
            margin-bottom: 1rem;
        }

        input[type="text"],
        textarea {
            width: 100%;

            background-color: $c9-grey;
            border: none;
            border-bottom: 2px solid $c1-main;
            padding: 1.4em 1em 0.6em;

            &:focus {
                outline: 0;
                border-bottom: 2px solid $c1-second;
            }
        }

        input[type="text"] + label {
            position: absolute;
            left: 1em;
            top: 1em;
            z-index: 5;
            user-select: none;
            transition: font-size 0.1s ease-out;

            &.active,
            &.done {
                left: 1.2em;
                top: 0.3em;
                font-size: 0.8rem;
                font-weight: 700;
            }

            &.done {
                color: $c1-main;
            }

            &.active {
                color: $c1-second;
            }
        }

        .wpgr-o_popup__radio-wrapper {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border:none;
            border-radius: 0;
            font-size: 1em;
            width: 100%;
            width:auto;
            float:left;
            background:transparent;
            border:none;
        }

        input[type='radio']:checked,
        input[type='radio']:not(:checked) {
            background: transparent;
            position: relative;
            opacity: 0;
            margin:0;
            padding:0;
            width: 100%;
            height: 30px;
            margin-bottom: -30px;
            cursor: pointer;
            z-index: 1;
        }

        input[type='radio'] + label {
            font-family: $font-1;
            font-weight: 300;
            font-size: rem(14px);
            color: $c6-grey;
        }

        input[type='radio']:checked + label {
            color: $c1-main;
        }

        input[type='radio']:checked + label::before,
        input[type='radio']:not(:checked) + label::before {
            content:' ';
            display:inline-block;
            width: 16px;
            height:16px;
            position: relative;
            top:4px;
            border: 2px solid $c6-grey ;
            background: $c-white;
            margin-right: rem(16px);
        }

        input[type=radio]:checked + label::before,
        input[type=radio]:not(:checked) + label::before {
          border-radius: 30px;
        }

        input[type='radio']:hover  + label {
          color: $c1-main;
        }

        input[type='radio']:checked  + label::before {
          background: $c1-main;
          box-shadow: inset 0 0 0 4px $c-white;
        }
    }
}
