section.wpgr-wishlist {
    .wpgr-o_popup {
        display: none !important;
        overflow-y: scroll !important;
        position: fixed !important;
        z-index: 10 !important;
        top: 0 !important;
        left: 0 !important;
        background: rgba($c-black, 0.9) !important;
        width: 100% !important;
        height: 100% !important;
        padding-top: 100px !important;
        font-family: $font-roboto !important;

        &--single {
            .wpgr-o_popup__step {
                padding: 1.5rem 1.5rem 5rem 1.5rem !important;
            }
        }

        &.is-active {
            display: block !important;

            .wpgr-o_popup__step--1 .wpgr-o_popup__list-item:first-child {
                background: $c1-main !important;
                cursor: default !important;
            }

            .wpgr-o_popup__step--2 .wpgr-o_popup__list-item:nth-child(2) {
                background: $c1-main !important;
                cursor: default !important;
            }
        }

        &__step {
            box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1) !important;
            display: none !important;
            position: relative !important;
            background: $c-white !important;
            width: 90% !important;
            max-width: 400px !important;
            margin: 0 auto !important;
            margin-top: 40vh !important;
            padding: 3rem 1.5rem 5rem 1.5rem !important;
            border: 1px solid $c6-grey !important;
            transform: translateY(-50%) !important;
            border-radius: 5px !important;

            &.is-active {
                display: block !important;
            }
        }

        &__btn-close {
            position: absolute !important;
            top: 0 !important;
            right: 0 !important;
            transform: translate(30%, -40%) !important;

            @include small {
                transform: translate(40%, -40%) !important;
            }
        }

        &__process {
            display: inline-block !important;
            position: absolute !important;
            top: 0 !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            list-style: none !important;
            margin: 0 !important;
            margin-top: 1rem !important;
            padding: 0 !important;
        }

        &__list-item {
            transition: background-color 0.2s ease-in-out !important;
            display: inline-block !important;
            background: $c5-grey !important;
            width: 15px !important;
            height: 15px !important;
            border-radius: 50% !important;
            cursor: pointer !important;

            &:not(:first-child) {
                margin-left: 10px !important;
            }

            &:hover {
                background: $c1-second !important;
            }
        }

        &__question {
            margin: 0 !important;
            margin-bottom: 0.5em !important;
            font-family: $font-roboto !important;
            font-weight: 500 !important;
            font-size: 22px !important;
            line-height: 28px !important;
        }

        &__desc {
            margin: 0 !important;
            margin-bottom: 1rem !important;
            font-family: $font-roboto !important;
            font-weight: 400 !important;
            font-size: 14px !important;
            line-height: 22px !important;
            color: $c4-grey !important;
        }

        &__buyer {
            margin-top: 2rem !important;
            margin-bottom: 1.5rem !important;
        }

        &__btn-wrapper {
            display: flex !important;
            justify-content: space-between !important;
            position: absolute !important;
            bottom: 0 !important;
            right: 0 !important;
            width: 100% !important;
            padding: 1.5rem !important;

            &--single {
                justify-content: flex-end !important;
            }
        }

        &__prev {
        }

        &__form {
            @include clearfix;

            .wpgr-o_popup__input-wrapper {
                position: relative !important;
                margin-bottom: 1rem !important;
            }

            .wpgr-m_btn__buyer-content {
                display: none !important;
                position: relative !important;
                margin-bottom: 1rem !important;

                &.is-active {
                    display: block !important;
                }
            }

            input[type="text"],
            input[type="number"],
            textarea {
                width: 100% !important;
                background-color: $c9-grey !important;
                border: none !important;
                border-bottom: 2px solid $c1-main !important;
                padding: 1.4em 1em 0.6em !important;

                &:focus {
                    outline: 0 !important;
                    border-bottom: 2px solid $c1-second !important;
                }
            }

            .wpgr-o_popup__input-label {
                position: absolute !important;
                left: 1em !important;
                top: 1em !important;
                z-index: 5 !important;
                user-select: none !important;
                transition: font-size 0.1s ease-out !important;
                font-size: 15px !important;
                color: $c4-grey !important;

                @include medium {
                    font-size: 16px !important;
                }

                &.is-active,
                &.is-done {
                    left: 1.2em !important;
                    top: 0.3em !important;
                    font-size: 12px !important;
                    font-weight: 700 !important;
                }

                &.is-active {
                    color: $c2-second !important;
                }
            }

            .wpgr-o_popup__radio-wrapper {
                display: inline-block !important;

                &:not(:last-child) {
                    margin-right: 15px !important;
                }
            }

            input[type='radio'] {
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
                appearance: none !important;
                border:none !important;
                border-radius: 0 !important;
                font-size: 1em !important;
                width: 100% !important;
                width:auto !important;
                float:left !important;
                background:transparent !important;
                border:none !important;
            }

            input[type='radio']:checked,
            input[type='radio']:not(:checked) {
                background: transparent !important;
                position: relative !important;
                opacity: 0 !important;
                margin:0 !important;
                padding:0 !important;
                width: 100% !important;
                height: 30px !important;
                margin-bottom: -30px !important;
                cursor: pointer !important;
                z-index: 1 !important;
            }

            input[type='radio'] + label {
                font-family: $font-roboto !important;
                font-weight: 600 !important;
                font-size: 14px !important;
                color: $c4-grey  !important;
            }

            input[type='radio']:checked + label {
                color: $c1-main !important;
            }

            input[type='radio']:checked + label::before,
            input[type='radio']:not(:checked) + label::before {
                content:' ' !important;
                display:inline-block !important;
                width: 20px !important;
                height:20px !important;
                position: relative !important;
                top: 4px !important;
                border: 2px solid $c4-grey !important;
                background: $c-white !important;
                margin-right: 6px !important;
            }

            input[type=radio]:checked + label::before,
            input[type=radio]:not(:checked) + label::before {
              border-radius: 30px !important;
            }

            input[type='radio']:hover  + label {
              color: $c1-main !important;
            }

            input[type='radio']:checked  + label::before {
              background: $c1-main !important;
              border: 2px solid $c1-main !important;
              box-shadow: inset 0 0 0 4px $c-white !important;
            }
        }
    }

    &__process {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }

    &__list-item {
        transition: background-color 0.2s ease-in-out;
        display: inline-block;
        background: $c5-grey;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            background: $c1-second;
        }

        &.is-active {
            background: $c1-main;
            cursor: default;
        }
    }

    &__question {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 22px;
        line-height: 28px;
    }

    &__desc {
        margin: 0;
        margin-bottom: 1rem;
        font-size: 14px;
        line-height: 22px;
        color: $c4-grey;
    }

    &__buyer {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1.5rem;

        &--single {
            justify-content: flex-end;
        }
    }

    &__prev {
    }

    &__form {

        .wpgr-o_popup__input-wrapper {
            position: relative;
            margin-bottom: 1rem;
        }

        .wpgr-m_btn__buyer-content {
            position: relative;
            margin-bottom: 1rem;

            &.is-hidden {
                display: none;
            }
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            background-color: $c9-grey;
            border: none;
            border-bottom: 2px solid $c1-main;
            padding: 1.4em 1em 0.6em;

            &:focus {
                outline: 0;
                border-bottom: 2px solid $c1-second;
            }
        }

        .wpgr-o_popup__input-label {
            position: absolute;
            left: 1em;
            top: 1em;
            z-index: 5;
            user-select: none;
            transition: font-size 0.1s ease-out;
            font-size: 18px;
            color: $c4-grey;

            &.is-active {
                left: 1.2em;
                top: 0.3em;
                font-size: 12px;
                font-weight: 700;
            }

            &.is-active {
                color: $c2-second;
            }
        }

        .wpgr-o_popup__radio-wrapper {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border:none;
            border-radius: 0;
            font-size: 1em;
            width: 100%;
            width:auto;
            float:left;
            background:transparent;
            border:none;
        }

        input[type='radio']:checked,
        input[type='radio']:not(:checked) {
            background: transparent;
            position: relative;
            opacity: 0;
            margin:0;
            padding:0;
            width: 100%;
            height: 30px;
            margin-bottom: -30px;
            cursor: pointer;
            z-index: 1;
        }

        input[type='radio'] + label {
            font-family: $font-1;
            font-weight: 600;
            font-size: 14px;
            color: $c4-grey ;
        }

        input[type='radio']:checked + label {
            color: $c1-main;
        }

        input[type='radio']:checked + label::before,
        input[type='radio']:not(:checked) + label::before {
            content:' ';
            display:inline-block;
            width: 20px;
            height:20px;
            position: relative;
            top: 4px;
            border: 2px solid $c4-grey;
            background: $c-white;
            margin-right: 6px;
        }

        input[type=radio]:checked + label::before,
        input[type=radio]:not(:checked) + label::before {
          border-radius: 30px;
        }

        input[type='radio']:hover  + label {
          color: $c1-main;
        }

        input[type='radio']:checked  + label::before {
          background: $c1-main;
          border: 2px solid $c1-main;
          box-shadow: inset 0 0 0 4px $c-white;
        }
    }
}
