/******************************************************************
	COLORS
******************************************************************/

	/* ====================================
		GREYSCALE
	==================================== */

	$c-black:  						#000000;
	$c1-grey:   					#4a4a4a;
	$c2-grey:   					#5e5e5e;
	$c3-grey:   					#9b9b9b;
	$c4-grey:   					#a0a0a0;
	$c5-grey:   					#e6e6e6;
	$c6-grey:   					#f5f5f5;
    $c9-grey:   					#fcfcfc;
	$c-white:  						#ffffff;


	/* ====================================
		PROJECT
	==================================== */

	$c1-main:						#73cbc7;
	$c2-main:						#52aaa6;

	$c1-second:						#ffa393;
    $c2-second:						#f77d68;


	/* ====================================
		SPECIALS
	==================================== */

	$c1-accent: 					$c1-second;

	$c1-hint:						$c1-second;
	$c1-error:						#C44040;
	$c1-success:					$c1-main;



/******************************************************************
	FONTS
******************************************************************/

	/* ====================================
		INITIALIZE
	==================================== */

	$font-1: 'Open Sans', Helvetica, Arial, sans-serif;
    $font-roboto: 'Roboto', sans-serif;



/******************************************************************
	BREAKPOINTS
******************************************************************/

	$w-base-max: 		480px;

	$w-small-min: 		481px;
	$w-small-max: 		960px;

	$w-medium-min: 		961px;
	$w-medium-max: 		1360px;

	$w-large-min: 		1361px;
	$w-large-max: 		1920px;

	$w-xlarge-min: 		1921px;
